.todo {
    box-sizing: border-box;
    margin-top: 100px;
    border:solid;
}
.table{
    margin-top:50px;margin-bottom:50px;
    margin-left:50px;
    margin-right:50px;
    border:dotted;
    padding:30px;
    background-color:aqua;

}
